/*body {
    font-family: 'Roboto Slab', serif;
}*/

.header {
    @apply container pt-5 flex justify-between max-h-[113px];
}

#nav > li {
    @apply mx-2 text-lg;
}

.search {
    @apply self-end outline-none bg-inherit border-b border-[#324950];
}

.search::placeholder {
    color: #324950;
}

.bg-image {
    background-image: url("../../src/images/bg.png");
    @apply bg-cover bg-center h-[850px];
}

.title-h1 {
    color: #735440;
    @apply text-5xl;
}
