@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

.header {
    @apply lg:container pt-5 pb-3 flex justify-between max-h-[113px] max-lg:bg-white max-lg:items-center max-lg:px-10 max-lg:drop-shadow-lg;
}

.button {
    font-family: 'Roboto', serif;
    @apply bg-green-500 hover:bg-green-900 text-white font-medium py-2 px-4 rounded;
}

.nav > li {
    font-family: 'Heebo', sans-serif;
    @apply mx-2 text-lg text-[#324950];
}

.search {
    @apply self-end outline-none bg-inherit border-b border-[#324950];
}

.search::placeholder {
    @apply text-[#324950];
}

.bg-image {
    background-image: url("../../src/images/bg.png");
    @apply bg-cover bg-center h-[850px];
}

.title-h1 {
    @apply text-5xl max-md:text-4xl font-bold text-[#735440];
}

.sorts {
    @apply grid grid-cols-2 justify-center pt-10 pb-10  xl:grid-cols-7 lg:grid-cols-4 md:grid-cols-3;
}

.sort {
    @apply flex flex-col mx-10 my-10;
}

.sort > p {
    @apply text-center mt-5;
}

.sort > img {
    @apply max-h-[55px];
}

.h2 {
    font-size: 64px;
    @apply font-bold mb-10 text-[#324950];
}

.union {
    background-image: url("../../src/images/Union.svg");
    @apply bg-cover bg-center bg-no-repeat;
}

.union-tomato {
    /*background-image: url("../../src/images/Union-tomatoes.svg");*/
    @apply bg-cover bg-center bg-no-repeat;
}

.main-element {
    @apply container flex pt-10;
}

.green-line {
    @apply border-b border-[#57984C] mt-3 mb-6 w-[180px];
}

.main-activities {
    @apply bg-gray-200 pt-20 pb-20 text-center justify-center align-top;
}

.activity {
    @apply w-1/3 justify-center mx-3;
}

.activity-title {
    @apply text-green-700 text-2xl font-bold;
}

.potatoes-title {
    @apply text-xl text-[#57984C] font-bold;
}

.hr {
    @apply w-[50%] h-[1px] bg-green-700 mx-auto mt-5 mb-5;
}

.links > li {
    @apply mx-2 text-base text-white;
}

.social > img {
    @apply mx-2;
}

footer {
    font-family: 'Roboto', serif;
    @apply font-normal;
}

.tomatoes-description {
    @apply mb-7 text-17 text-[#324950];
}

.text-17 {
    font-size: 17px;
}

.text-54 {
    font-size: 54px;
}

.white-tomatoes {
    @apply bg-white flex justify-center max-md:flex-col;
}

.white-title {
    @apply text-xl font-bold mt-5 text-[#324950];
}

.white-description {
    @apply text-[#324950] mt-3;
}

.white-card {
    @apply md:w-1/3 mx-8 my-5;
}

.input-base {
    @apply border-[#DADADA] h-[55px] border rounded-xl outline-none px-2.5;
}

.red-vertical-line {
    @apply border-l-4 border-red-500 pl-4;
}

.many-tomatoes {
    @apply grid grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 text-center;
}

.tomato {
    @apply bg-white pb-3 mx-3 my-3;
}

.tomato-img {
    @apply pb-3;
}

.tomato > h3 {
    @apply text-green-600 text-xl font-bold;
}

.tomato > p {
    @apply text-green-600 text-17;
}

.potato-h1 {
    @apply text-54 font-bold;
}