<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Tomato all</title>
    <link href="../dist/css/output.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
    <header class="header">
        <a href="index.html"><img class="max-lg:max-h-[80px]" src="images/logo.png" alt="logo"></a>
        <div class="flex flex-col justify-between">
            <div class="flex justify-between items-center self-end max-sm:hidden">
                <input type="text" class="search" placeholder="Search"/>
                <div class="w-[18px]">
                    <a href="#"><img src="images/ico_search.svg" alt="search_icon"></a>
                </div>
            </div>
            <nav class="max-lg:hidden">
                <ul class="flex -mr-2 nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Company Profile</a></li>
                    <li><a href="tomato_all.html">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">R & D</a></li>
                    <li><a href="contact_us.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="lg:hidden w-10">
            <img src="images/phone-menu.png" alt="phone-menu">
        </div>
    </header>
    <div class="lg:mt-12">
        <img src="images/buryak/big-buryak.png" alt="Buryak, not potato! 🥔🥔🥔">
    </div>
    <main class="bg-[#FCF0F0]">
        <div class="container py-14 px-10">
            <h1 class="text-5xl max-md:text-4xl h2">Beets</h1>
            <div class="my-5 text-[#57984C] text-[20px]">*****</div>
            <p class="tomatoes-description">Agridera aims to be one of the world's leading companies in the breeding,
                production,
                and marketing of
                tomato seeds. <b>We invest intensively in research and development to provide solutions to growers
                    and
                    consumers in numerous countries around the world.</b>
                In particular, we breed improved disease-resistant cultivars adapted to different markets globally.</p>

            <p class="tomatoes-description">Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus
                (TYLCV) and Tomato Spotted Wilt
                Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids.
                Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus
                (Tomato Brown Rugose Fruit Virus).</p>

            <p class="tomatoes-description">In terms of horticultural traits, breeding is for earliness, different fruit
                sizes,
                firmness, red fruit
                color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality
                features and disease resistance are sought in a variety of types, namely round and elongated
                shapes. </p>
            <div class="red-vertical-line">
                <p class="tomatoes-description">Agirdera Tomato breeding programs are focusing on three main segments:
                    Greenhouse Indeterminate
                    Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.</p>
            </div>
            <div class="white-tomatoes">
                <div class="white-card">
                    <h2 class="white-title">Greenhouse Tomato Breeding Program</h2>
                    <div class="border-b-2 border-green-900 mt-3"></div>
                    <p class="white-description"><b>This breeding is aimed for the Spanish and Turkish markets.</b> For
                        single and cluster picks, round
                        fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp.
                        radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and
                        Leveillula Taurica (Lv). </p>
                </div>
                <div class="white-card">
                    <h2 class="white-title">Open-field Indeterminate Tomatoes</h2>
                    <div class="border-b-2 border-green-900 mt-3"></div>
                    <p class="white-description"><b>This breeding is for Brazilian, Moroccan, and Turkish markets.</b>
                        The main focus is on large round
                        shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near
                        future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our
                        cultivars.</p>
                </div>
                <div class="white-card">
                    <h2 class="white-title">Open-field Bush Type Tomatoes</h2>
                    <div class="border-b-2 border-green-900 mt-3"></div>
                    <p class="white-description"><b>This breeding is for Mediterranean markets.</b> We breed round and
                        elongated shapes, standard sizes
                        (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the
                        resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some
                        hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</p>
                </div>
            </div>
            <div class="red-vertical-line mt-10 mb-10">
                <p class="tomatoes-description"><b>Agridera operates through international and local distributers around
                    the world.</b></p>
            </div>
            <div id="article">
                <template v-if="products">
                    <article class="many-tomatoes">
                        <section class="tomato" v-for="p in products">
                            <a :href="'tomato_one.html#'+ p.id"><img class="tomato-img" :src="p.image" alt="big buryak"></a>
                            <h3><a :href="'tomato_one.html#'+ p.id">{{ p.title }}</a></h3>
                            <p><a :href="'tomato_one.html#'+ p.id">{{ p.short_text }}</a></p>
                        </section>
                    </article>
                </template>
            </div>
        </div>
    </main>
    <footer>
        <div class="bg-[#2D3F45] px-10 py-5">
            <div class="container flex justify-between items-center max-lg:flex-col gap-3">
                <div>
                    <ul class="links flex max-lg:flex-wrap justify-center">
                        <li><a href="#">PROFILE</a></li>
                        <li><a href="#">MANAGEMENT</a></li>
                        <li><a href="#">PRODUCTS</a></li>
                        <li><a href="#">R&D</a></li>
                        <li><a href="#">LINK</a></li>
                        <li><a href="#">SITEMAP</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
                <div class="flex social">
                    <img src="images/linkedin.svg" alt="linkedin">
                    <img src="images/Ico_inst.svg" alt="inst">
                    <img src="images/youtube.svg" alt="youtube">
                    <img src="images/twitter.svg" alt="twitter">
                    <img src="images/facebook.svg" alt="facebook">
                </div>
            </div>
        </div>
        <div class="bg-[#324950] text-center pt-3 pb-3">
            <p class="text-sm text-[#B9B9B9]">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
        </div>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>